<h1>All Listed Restaurants</h1>

<%= search_form_for @q do |f| %>
 Search for a listed restaurant:
  <%= f.search_field :name_cont %>
  <%= f.submit  %>
<% end %>

<br>
<br>

<form action="/restaurant_reviews/new" method="get">
    Create a review for a restaurant:
    <button name="review" type="submit" value="Create Review">Create Review</button>
    </form>
<br>
<br>
 
<% @restaurants.each do |restaurant| %>
<li> <%= link_to restaurant.name,restaurant_path(restaurant.id)%>
<% end %>
  

