/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  
 /* body {
    margin: 0;  
    background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* color:orange;
    font: Verdana
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */
  html {
    height: 100%;
  }   


  body {
    background: #5DE0E5;
background: -webkit-radial-gradient(top left, #5DE0E5, #CFE8E9);
background: -moz-radial-gradient(top left, #5DE0E5, #CFE8E9);
background: radial-gradient(to bottom right, #5DE0E5, #CFE8E9);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 24px; 
  
  } 
  
  ul a:hover:not(.active) {
    background-color: orange;
    color: white;
  } 

.flexbox {
   max-width: 100%;
   margin: auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   padding:20px;
}

.flexbox-container{
   width: 40%;
   margin: 5px;
   padding: 5px;
   background-color: rgb(245, 219, 190);
   border-radius: 20px;
   text-align: center;
   flex: 2 0 21%;
}

 .nav-item {

  margin: 0 20px;

 }

 .show-img {

  height: 250px;
  width: 350px;


 }

 .navbar-brand{
   width: 600px;
 }

 ul {

  list-style: none;

 }

