<br><br>
<h1>If you would like to edit or delete a review, click on it!</h1>


<% @bar_review.each do |bar| %>
<li><%= link_to bar.title,edit_bar_review_path(bar.id),style: 'color:#f59f5f;', class: 'css_class' %>
<% end %>
