<br><br>
<h1>If you would like to edit or delete a review, click on it!</h1>


<% @restaurant_review.each do |restaurant| %>
<li><%= link_to restaurant.title,edit_restaurant_review_path(restaurant.id),style: 'color:#f59f5f;', class: 'css_class' %>
<% end %>


